#photo {
  background: url(../img/cascades.jpg);
  background-size: cover;
  flex-direction: column;
  height: 1000px;
  justify-content: center;
}

.nav {
    background-color: transparent;
    /*background-color: blue-grey lighten-5; */
}

.addButt {
  margin-top: 45px; 
}
