#photo {
  background: url(../img/cascadesWide.jpg);
  background-size: cover;
  flex-direction: column;
  height: 750px;
  justify-content: center;
}

.nav {
    background-color: transparent;
    /*background-color: blue-grey lighten-5; */
}

.addButt {
  margin-top: 45px;
}
